# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Cython debug symbols
cython_debug/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Docker
Dockerfile
docker-compose.yaml

# Git
.git
.gitattributes
.gitignore

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PEP 582
__pypackages__/

# Project stuff
LICENSE
README.md

# PyBuilder
.pybuilder/
target/

# pyenv
.python-version

# PyInstaller.
*.manifest
*.spec

# Translations
*.mo
*.pot

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Sphinx documentation
docs/
docs/_build/

# VSCode Editor
.vscode
